package templates

templ Categories() {
	<section class="flex gap-8">
		<a style="box-shadow:8px 8px black" class="block border-4 border-solid border-black p-8" href="/play/37i9dQZF1E4m433mhB66fa">
			play Slipknot Radio
		</a>
		<a style="box-shadow:8px 8px black" class="block border-4 border-solid border-black p-8" href="/play/37i9dQZF1DX3N4mXY2MuSz?si=b169647349084729">
			play Christmas Punk
		</a>
	</section>
}
