package templates

script handleUser() {
  const token = localStorage.getItem("backInTime-token")
  setTimeout(() => htmx.ajax('GET', '/user/', { target: "#content", headers: { Authorization: "Bearer "+token}}), 3000)
}

templ Hello(name string) {
	<section id="content"></section>
	@handleUser()
}

templ HomePage(name string) {
	@Layout(Hello(name))
}
