package templates

templ Layout(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>BackInTime</title>
			<script async src="https://sdk.scdn.co/spotify-player.js"></script>
			<link href="/css/output.css" rel="stylesheet"/>
		</head>
		<body class="bg-red-400 h-screen">
			@content
		</body>
	</html>
}
